.container {
  width: 80%;
  margin: 0 auto;
  padding: 40px 0;
  min-height: 1000px;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 400px));
  gap: 20px;
  justify-content: center;
}

.addPostBtn {
  display: block;
  width: 100px;
  padding: 10px;
  margin: 40px 0;
  background-color: #00c7ae;
  color: #fff;
  text-align: center;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.addPostBtn:hover {
  background-color: #00a792;
}

.btnWrap {
  display: flex;
  justify-content: right;
}

.title {
  text-align: left;
  margin-bottom: 40px;
}
