/* 페이징 */
.page-a {
  text-decoration: none;
  color: #00c7ae;
}

.page-box {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-num {
  border: 1px solid #00c7ae;
  width: 30px;
  height: 40px;
  border-radius: 5px;
  margin: 0 10px;
  text-align: center;
  line-height: 40px;
  background-color: white;
  cursor: pointer;
}

.active,
.page-num:hover {
  background-color: #00c7ae;
  color: white;
}
